# XVPN Black Configuration
# Конфигурация форматировщика кода Python

[tool.black]
# Максимальная длина строки
line-length = 88

# Целевые версии Python
target-version = ['py310']

# Директории для исключения
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | venv
  | env
  | \.env
  | migrations
  | node_modules
)/
'''

# Файлы для исключения
extend-exclude = '''
# Исключить файлы с суффиксом _pb2.py
.*_pb2\.py
'''

# Использовать одинарные кавычки
skip-string-normalization = false

# Использовать пробелы вместо табуляции
skip-magic-trailing-comma = false

# Форматировать docstrings
preview = false