[Unit]
Description=XVPN Agent Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/%u/.xvpn/agent/agent.py
WorkingDirectory=/home/%u/.xvpn
Restart=always
RestartSec=3
User=%i
Group=%i
StandardOutput=journal
StandardError=journal
SyslogIdentifier=xvpn-agent
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target