[Unit]
Description=XVPN Telegram Bot Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/%u/.xvpn/bot_src/__main__.py --server-ip 77.110.123.27
WorkingDirectory=/home/%u/.xvpn/bot_src
Restart=always
RestartSec=3
User=%i
Group=%i
StandardOutput=journal
StandardError=journal
SyslogIdentifier=xvpn-bot
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target